@charset "utf-8";
header {
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  text-align: center;
  text-decoration: underline;
}
/* CSS Document */
body {
  background-color: #D4A373;
}
.rounded-circle.img-fluid { /* Utlized properties to configure the sizing live view with left float.*/
  float: left;
  clear: none;
  width: 190px;
  height: auto;
  border-style: solid;
  margin-right: 100px;
  margin-left: 0px;
}
main { /* Configured this in properties. Had to code border-color manually*/
  border-radius: 20px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-color: #FFFFFF;
}
footer {
  padding-top: 10px;
}
@media (max-width:1024px) { /* Media screen for small screens*/
  body {
    background-color: #fefae0;
  }
  main {
    background-color: #CCD5AE;
  }
  .smallllogo {
    float: left; /* Coded this manually. Harder to click and select with my limited experience, but it was inserted via insert tab for HTML*/
  }
  .largelogo {
    display: none;
  }
}
@media (min-width:1024px) { /* Media screen for LG screens*/
  body {
    background-color: #D4A373;
  }
  main {
    background-color: #e9edc9;
  }
  .largelogo {
    float: right; /* Coded this manually. Harder to click and select with my limited experience, but it was inserted via insert tab for HTML*/
  }
  .smalllogo {
    display: none;
  }
}