body{
    background-color: peru;
    color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  }
  
  /* div is the targeted element in the .HTML file to make the background color saddlbrown and the text color gainsborow*/
  div {
    background-color: saddlebrown;
    color: gainsboro;
  }

/*media screen is equal to or greater than 750ppx is applied the background color and font color*/

  @media screen and (min-width: 750px) {
  body {
    background-color:maroon;
    color:moccasin;
    font-family: 'Times New Roman', Times, serif; 
  } 
}
